.header_margin{
    margin-top: 5%;
}

.mat-form-field{
    width: 100% !important;
}

mat-card{
    font-size: 25px;
    label{
        color: gray;
    }
}

th.mat-header-cell{
    width: 20% !important;
}